body {
    background: #ffffff;
    color: #2e3436;
 /*   font: 'Verdana', sans-serif; */
  /*  font-family: "Merriweather", Georgia, serif; */
    font-family: Verdana,Geneva,sans-serif;
    margin: 0 auto;
    max-width: 40em;
   /* padding: 0 0.5em; */
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility;

    /* Mobile */
    font-size: 15px;
}


@media only screen and (min-width: 600px) {
    /* Tablets */
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    /* Desktop */
    body {
        font-size: 18px;
    }
}

a {
  color: #3465a4;
  text-decoration: none;
}

header a {
    padding: 0 0 0 1em;
}

main a {
  border-bottom: thin solid;
}

main a:visited {
  color: #75507b;
}

main ul {
    margin: 1.5em 0;
    padding: 0 0 0 1em;
}

main li {
    margin: 5px 0;
}

main blockquote {
    border-left: thin solid #d3d7cf;
    margin: 10px;
    padding: 0 0 0 1em;
    color: #555555;
}

main .header {
    margin: 5px;
}

main .figure {
    text-align: center
}

header {
    border-bottom: thin solid #d3d7cf;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

nav {
    text-align: right;
}

nav {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    border-top: thin solid #d3d7cf;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font: inherit;
    font-size: 1.5em;
    line-height: 1em;
}

article .header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

pre {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
    background-color: #f3f4f5;
    text-align: "justify";
}

p.caption {
    display: none;
}


/*
  base03:  #002b36
  base02:  #073642
  base01:  #586e75
  base00:  #657b83
  base0:   #839496
  base1:   #93a1a1
  base2:   #eee8d5
  base3:   #fdf6e3
  yellow:  #b58900
  orange:  #cb4b16
  red:     #dc322f
  magenta: #d33682
  violet:  #6c71c4
  blue:    #268bd2
  cyan:    #2aa198
  green:   #859900
*/

code {
   font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
   background-color: #f3f4f5;
}

.sourceCode {
    overflow-x: auto;
}

.sourceCode .al { color: #CB4B16; font-weight: bold; }  /* Alert */
.sourceCode .an { color: #6c71c4; font-weight: bold; }  /* Annotation */
.sourceCode .at { }                                     /* Attribute */
.sourceCode .av { color: #cb4b16; }
.sourceCode .bn { color: #2aa198; }                     /* BaseNTok */
.sourceCode .cf { color: #6c71c4; }                     /* Control Flow */
.sourceCode .ch { color: #2aa198; }                     /* Char */
.sourceCode .co { color: #586e75; font-style: italic; } /* CommentTok */
.sourceCode .cv { color: #cb4b16; }                     /* Comment Var */
.sourceCode .dt { color: #b58900; }                     /* DataType */
.sourceCode .dv { color: #2aa198; }                     /* Decimal Value */
.sourceCode .er { color: #dc322f; font-weight: bold; }  /* Error */
.sourceCode .ex{ color: #cb4b16; }                      /* Extension */
.sourceCode .fl { color: #2aa198; }                     /* Float */
.sourceCode .fu { color:  #268bd2; }                    /* Function */
.sourceCode .im { color: #268bd2; }                     /* Import */
.sourceCode .kw { color: #859900; font-weight: bold; }  /* KeyWord */
.sourceCode .op { color: #cb4b16; }                     /* Builtin */
.sourceCode .op { color: #cb4b16; }                     /* Operator */
.sourceCode .ot { color: #cb4b16; }                     /* Other */
.sourceCode .re { }                                     /* RegionMarker */
.sourceCode .sc { color: #2aa198; font-weight: bold; }  /* Special Char */
.sourceCode .ss { color: #2aa198; }                     /* Verbatim String */
.sourceCode .st { color: #2aa198; }                     /* String */
.sourceCode .va { color: #cb4b16; }                     /* Variable */
.sourceCode .vs { color: #2aa198; }                     /* Special String */
.sourceCode .wa { color: #dc322f; font-weight: bold; }  /* Warning */
