@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Inconsolata.woff2) format('truetype');
}

code {
  background-color: #f3f4f5;
  font-family: 'Inconsolata';
  line-height: 1.2em;
}

pre code {
  display: block;
  overflow-x: auto; /* Make code block scrollable */
  padding: 8px;
}
