code {
  background-color: #f6f8fa;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 14px;
  line-height: 20px;
  padding: .2em .4em;
}

pre code {
  display: block;
  overflow-x: auto; /* Make code block scrollable */
}
