.comments {
  font-size: 15px;
  line-height: 1.2rem;
  margin-top: 2rem;
  padding: 16px 16px 16px 14px;
}

.showComments {
  background-color: 'Transparent';
  background-repeat: no-repeat;
  border: none;
  color: #516ae8;
  cursor: pointer;
  font-weight: bold;
  height: 32px;
  margin-right: 2em;
  outline: none;
  overflow: hidden;
}

.leaveComment a {
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;

  background-color: #8f4e8b;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  color: #fff !important;
  cursor: pointer;
  height: 32px;
  outline: none;
  padding: 2px 18px;
}

.leaveComment a:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.24);
}

.comments ul {
  list-style: none;
}

.comments li.comment {
  background-color: #fafbfd;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  display: block;
  margin: 1em 0;
  padding: 5px 5px 5px 5px;
}

.comments .author {
  font-weight: bold;
}

.comments .meta {
  border-bottom: thin solid #d3d7cf;
  line-height: 2em;
  padding-bottom: 5px;
}

.comments .content {
  padding-left: 20px;
  padding-right: 10px;
}
