
.leave-comment-btn {
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  border-radius: .25em;
  border: 1px solid rgba(27,31,35,.2);
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5em;
  padding: 3px 10px;
  text-decoration: none;
}

.leave-comment-btn:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
}

summary {
  cursor: pointer;
  color: #516ae8;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2rem;
  margin-top: 2rem;
}

.comments ul {
  list-style: none;
}

.comment {
  font-size: 15px;
  margin: 1em 0;

  color: #24292e;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #fff;
}

.meta {
  color: #586069;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d1d5da;
}

.author {
  color: #24292e !important;
  font-weight: bold;
  text-decoration: none;
}

.date {
  color: #586069;
  text-decoration: none;
}

.date:hover {
  color: #0366d6;
}

.content {
  padding-left: 20px;
  padding-right: 10px;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
