main {
  padding-top: 1em;
}

.index {
  line-height: 1.7em;
  list-style: none;
  padding-left: 0;
}

.date {
  color: #5d5757;
}

.index a {
  color: #2e3436;
  font-size: 1.1em;
  text-decoration: none;
}

.index li {
  padding-bottom: 15px;
}

.logo {
  display: inline-block;
  height: 24px;
  margin-right: 1em;
  width: 24px;
}
