
body {
  color: #2f2f2f;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  line-height: 1.6em;
  margin: 20px auto;
  max-width: 42em;
  padding: 0 1em;
}

@media (min-width: 760px) {
  body { font-size: 100%; }
}

@media (min-width: 1024px) {
  body { font-size: 105%; }
}

h1 {
  font-size: 1.7em;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}
